<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="~{fragments/resources :: headTags}"></div>
        <title>Pizza detail</title>
    </head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar('ingredients')}"></nav>
    <main class="container">
        <h1>Modifica ingrediente</h1>
        <hr />
        <section class="row">
            <div class="col-12">
            
               <form id="ingredient-form" th:action="@{/ingredients/edit/{id}(id=${ingredient.id})}" th:object="${ingredient}" method="post">
                

                <div class="mb-3" th:if="${#fields.hasErrors()}">
                    <ul class="alert alert-danger ps-5">
                        <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
                    </ul>
                    
                </div>    
                    <div class="mb-3">
                        <label class="form-label" for="name">Nome ingrediente:</label>
                        <input class="form-control" type="text" id="name" th:field="*{name}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="description">Descrizione ingrediente:</label>
                        <textarea class="form-control" id="description" th:field="*{description}"></textarea>
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <input type="submit" class="btn btn-info" value="Update ingredient">
                        <input type="reset" class="btn btn-warning" value="Reset all fields">
                    </div>
               </form> 
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>
</html>