<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <div th:replace="~{fragments/resources :: headTags}"></div>
        <title>Ingredients</title>
    </head>
    <body>
        <nav th:replace="~{fragments/navbar :: navbar('ingredients')}">

        </nav>
        <main class="container">
            <h1>Ingredienti:</h1>
            <hr />
            <section class="row">
                <div class="col-12">
                    <table class="table" th:if="${ingredients.size() > 0}">
                        <thead>
                            <tr>
                                <th>ID:</th>
                                <th>Nome:</th>
                                <th>Descrizione:</th>
                                <th>Number of pizzas:</th>
                                <th sec:authorize="hasAuthority('ADMIN')">Edit:</th>
                                <th sec:authorize="hasAuthority('ADMIN')">Delete:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="ingredient : ${ingredients}" th:object="${ingredient}">
                                <td>[[*{id}]]</td>
                                <td>[[*{name}]]</td>
                                <td>[[*{description}]]</td>
                                <td>[[*{pizzas.size()}]]</td>
                                <td sec:authorize="hasAuthority('ADMIN')">
                                    <a th:href="@{/ingredients/edit/{id}(id=*{id})}">
                                        <button class="btn btn-warning">
                                            <strong>Edit</strong>
                                        </button>
                                    </a>
                                </td>
                                <td sec:authorize="hasAuthority('ADMIN')">
                                    <!--Form-->
                                    <form action="#" th:action="@{/ingredients/delete/{id}(id=*{id})}" method="post">
                                        <button type="submit" class="btn btn-danger">
                                            <strong>Delete</strong>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p th:text="'No ingredients are available at the moment...'" th:unless="${ingredients.size() > 0}"></p>
                </div>
            </section>
            <a th:href="@{/ingredients/create}" sec:authorize="hasAuthority('ADMIN')" class="me-auto btn btn-info btn-sm"> Add new ingredient</a>
        </main>
        <div th:replace="~{fragments/resources :: scripts}"></div>
    </body>
</html>