<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="~{fragments/resources :: headTags}"></div>
        <title>Pizza detail</title>
    </head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar('pizzas')}"></nav>
    <main class="container">
        <h1>Dettaglio pizza</h1>
        <hr />
        <section class="row">
            <div class="col-12">
                <p th:text="${pizze}"></p>
                <a th:href="@{../pizzas}">
                    <button class="btn btn-info">Torna alle pizze!</button>
                </a>

                <a th:href="@{./{id}/addDiscount(id=${pizze.id})}">
                    <button class="btn btn-warning"><strong>Aggiungi uno sconto</strong></button>
                </a>

            </div>
        </section>

        <section class="row mb-3">
            <div class="col-12" th:if="${pizze.getDiscounts().size() > 0 }">
                <h3 class="mt-2">Discounts:</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Titolo:</th>
                            <th>Data inizio:</th>
                            <th>Data fine:</th>
                            <th>Modifica:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="discount : ${pizze.discounts}">
                            <td>[[${discount.title}]]</td>
                            <td>[[${discount.discountDateBegin}]]</td>
                            <td>[[${discount.discountDateEnd}]]</td>
                            <td>
                                <a th:href="@{../discounts/edit/{id}(id=*{discount.id})}">
                                    <button class="btn btn-primary">
                                        <strong>Modifica</strong>
                                    </button>
                                </a>
                            </td>
                        </tr>

                    </tbody>




                </table>
            </div>
            <div class="col-12" th:unless="${pizze.getDiscounts().size() > 0 }">
                <h4>There's no discount for this pizza!</h4>
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>
</html>